<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <span style='color:grey;'><%= message.user.first_name %> <%= message.user.last_name %></span>
    <small><%= message.created_at.strftime("%d/%m/%Y à %R") %></small>
  </i>
  <p><%= message.content.capitalize %></p>
</div>