<div class="container-index">
  <%= link_to "Retour", companies_path  %>
  <h1><%= @company.name %><h1>

  <div class="operation-search">
      <%= form_tag company_operations_path(@company), class: "form-index-operation",method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Rechercher"
      %>
      <%= submit_tag "Recherche", class: "btn btn-primary" %>
      <% end %>
  </div>
  <h2 class="center">Justificatifs</h2>
  <div class="container-btn-add-ope">
      <%= link_to raw('<i class="fas fa-plus-circle"></i> Ajouter un justificatif'), new_company_invoice_path(@company), id: "btn-add-ope" %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Bénéficiaire</th>
        <th>Client</th>
        <th>Montant (€)</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>

          <tr onclick="window.location='/invoices/<%= invoice.id %>';">
            <td><%= invoice.date %></td>
            <td><%= invoice.issuer%></td>
            <td> <%= invoice.client %></td>
            <td><%= invoice.net_amount %></td>
          </tr>

      <% end %>
    </tbody>

  </table>
</div>
