<div class="big-container">
  <div class="container-index-operations">
    <div class="container-operations-general">
      <h1><%= @company.name %><h1>
    </div>

    <div class="container-table-operations" id="top-invoices">
      <h2 class="center">Justificatifs</h2>
      <div class="buttons-operations-invoices">
        <div class="operation-search">
          <%= form_tag company_invoices_path(@company), class: "form-index-operation", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher"
          %>
          <%= submit_tag "Recherche", class: "btn btn-primary button-recherche" %>
          <% end %>
        </div>
        <%# <div class="container-btn-add-ope"> %>
          <%= link_to raw('<i class="fas fa-plus-circle"></i> Ajouter un justificatif'), new_company_invoice_path(@company), id: "btn-add-ope" %>
        <%# </div> %>
      </div>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>N° Facture</th>
            <th>Montant TTC (€)</th>
            <th>Montant HT (€)</th>
            <th>TVA (%)</th>
            <th>Date</th>
            <th>Bénéficiaire</th>
            <th>Client</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
              <tr onclick="window.location='/companies/<%=params[:company_id]%>/invoices/<%= invoice.id %>';" >
                <td>
                  <%if invoice.issuer == @company.name %>
                    <i class="far fa-arrow-alt-circle-down"></i>
                  <% else %>
                    <i class="far fa-arrow-alt-circle-up"></i>
                  <% end %>
                </td>
                <% if invoice.invoice_number.nil? %>
                  <td></td>
                <% else %>
                  <td><%= invoice.invoice_number %></td>
                <% end %>
                <% if invoice.total_amount.nil? %>
                  <td></td>
                <% else %>
                  <td><%= invoice.total_amount %></td>
                <% end %>
                <% if invoice.net_amount.nil? %>
                  <td></td>
                <% else %>
                  <td><%= invoice.net_amount %></td>
                <% end %>
                <% if invoice.vta.nil? %>
                  <td></td>
                <% else %>
                  <td><%= invoice.vta %></td>
                <% end %>
                <% if invoice.date.nil? %>
                  <td></td>
                <% else %>
                  <td><%= invoice.date.strftime("%d/%m/%Y")  %></td>
                <% end %>
                <% if invoice.issuer.nil? %>
                  <td></td>
                <% else %>
                  <td><%= invoice.issuer %></td>
                <% end %>
                <% if invoice.client.nil? %>
                  <td></td>
                <% else %>
                  <td><%= invoice.client %></td>
                <% end %>
              </tr>
          <% end %>
        </tbody>

      </table>
      <div class="button-transform">
        <a href="#top-invoices" class="button-top"><i class="fas fa-chevron-circle-up"></i> Retour au début de la liste</a>
      </div>
    </div>
  </div>
</div>
