<%= link_to "Retour", companies_path  %>
<h1><%= @company.name %><h1>

<h2>Factures</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Bénéficiaire</th>
      <th>Client</th>
      <th>Montant (€)</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>

        <tr>
          <td><%= invoice.date %></td>
          <td><%= link_to "#{invoice.issuer}", invoice_path(invoice) %></td>
          <td> <%= invoice.client %></td>
          <td><%= invoice.net_amount %></td>
        </tr>

    <% end %>
  </tbody>

</table>
