
<div class="big-container">
  <div class="container-operations-new-invoice">
    <div class="container-title-show">
      <%= link_to "<", company_invoices_path, class:'button-return' %>
      <h2 class="arbo-padding"><%= @company.name %> > Justificatifs > Nouveau</h2>
    </div>

      <h2 class="center">Ajouter une nouvelle facture</h2>
    <div class="container-sign-up">
      <%= simple_form_for @invoice, url: company_invoices_path, methode: :post do |f| %>
        <div class="form-inputs">

          <div data-controller="dropzone">
            <%= f.input :photos, as: :file, input_html: { class: "d-none", multiple: true, data: { dropzone_target: 'input', action: 'change->dropzone#change' } }, label: false %>
            <div id="dropZ" class="dropzone" data-action="drop->dropzone#drop">
              <div class="drop-index-position">
                <i class="fas fa-download"></i>
                <div>Glissez déposez votre/vos factures ici</div>
                <span>OU</span>
                <div class="selectFile">
                  <%# <label for="file">Select file</label> %>
                  <input class="btn btn-primary button-drop" type="button" id="file" value="Cliquez ICI" data-action="click->dropzone#open">
                </div>
                <p>Taille limite du fichier : 10 MB</p>
                <div class=preview-container>
                  <div class="preview" data-dropzone-target="preview" data-action="click->dropzone#removeFile">
                    <%# <i class="fas fa-trash"></i> %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>
          <%= f.button :submit, "Ajouter la facture", class: "btn btn-responsive btn-primary button-display-invoices mt-3" %>
      <% end %>
        </div>
    </div>
  </div>
</div>

