<h1><%= @invoice.client %> > Facture </h1>

<p>Date: <%= @invoice.date%><p>

<p>Emetteur: <%= @invoice.issuer%><p>

<p>Montant TT: <%= @invoice.total_amount%> €<p>

<p>TVA: <%= @invoice.vta%>%<p>

<%= link_to "Delete",
            invoice_path(@invoice),
            method: :delete,
            data: { confirm: "Are you sure?" } %>




