<%= link_to "Retour", company_invoices_path(@invoice.company) %>
<div class="container-index-operation">
  <div data-controller="edit-invoice">
    <div class="<%= 'd-none' if @invoice.errors.any? %>" data-edit-invoice-target="infos">
      <h1><%= @invoice.client %> > Facture </h1>

      <p>Date: <%= @invoice.date%><p>

      <p>Emetteur: <%= @invoice.issuer%><p>

      <p>Montant TTC: <%= @invoice.total_amount%> €<p>

      <p>TVA: <%= @invoice.vta%>%<p>

      <i class="fas fa-pen fa-xs ml-2" data-action="click->edit-invoice#displayForm"></i>
    </div>

    <%= simple_form_for(@invoice, html: { class: @invoice.errors.any? ? '' : 'd-none', data: { edit_invoice_target: 'form', action: 'submit->edit_invoice#update' } }) do |f| %>
      <%= f.input :date %>
      <%= f.input :issuer, label: 'Bénéficiaire' %>
      <%= f.input :total_amount, label: 'Montant TTC' %>
      <%= f.input :net_amount, label: 'Montant HT' %>
      <%= f.input :vta, label: 'TVA' %>
      <%= f.input :tax_amount, label: 'Montant de la taxe' %>
      <%= f.input :payment_method, label: 'Méthode de paiement' %>
      <%= f.input :label %>
      <%= f.input :client %>
      <%= f.submit %>
    <% end %>
  </div>
</div>




