<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Countify", root_path, class: "navbar-brand"%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in?%>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%else%>
            <%= content_tag :div, class: "avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
              <p><%= current_user.initials %></p>
            <% end %>
          <%end%>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if user.is_accountant? %>
              <%= link_to "Mes clients", companies_path, class: "dropdown-item" %>
            <% elsif user.is_company?%>
              <%= link_to "Mes opérations", company_operations_path(current_user.company_id), class: "dropdown-item" %>
              <%= link_to "Mes justificatifs", company_invoices_path(current_user.company_id), class: "dropdown-item" %>
            <% end %>
            <%= link_to "Dashboard", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "S'abonner", new_user_registration_path, class: " button-sign-up" %>
          <%= link_to "Se connecter", new_user_session_path, class: " button-connect" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
