
<div class="big-container">
  <div class="container-show-chat">
    <h1><%= @chat.name %></h1>

    <div id="messages" data-chat-id="<%= @chat.id %>">

      <% @chat.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>

    </div>

      <%= simple_form_for [ @chat, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message" %>
        <p><%= f.button :submit, value: "Envoyer", class: 'button-display-invoices'%></p>
      <% end %>
    </div>
  </div>
