<div class="banner">
  <div class="text-description">
    <h1>Simplifiez votre travail au quotidien</h1>
    <h2>Gagnez du temps en automatisant vos rapprochements bancaires et facilitez la relation avec vos clients</h2>
    <a href="#anchor1" class="button-how-it-works">Comment ça marche ?</a>
    <%= link_to "Contacter l'équipe", "#", class:"button-contact"%>
  </div>
</div>

<div id="anchor1" class="maine-container-home">
  <div class="presentation">
    <div class="cards-etape">
      <%= image_tag("bank-api.svg") %>
      <h3>Votre client connecte ses comptes bancaires</h3>
    </div>
    <div class="cards-etape">
      <h3>Puis, drop ses factures et justificatifs</h3>
      <%= image_tag("invoices.svg") %>
    </div>
    <div class="cards-etape">
      <%= image_tag("validate.svg") %>
      <h3>Après un rapprochement automatique, une simple validation est nécessaire</h3>
    </div>
    <div class="cards-etape">
      <h3>Le fichier de saisie est prêt à exporter vers vos logiciels comptables</h3>
      <%= image_tag("file-export.svg") %>
    </div>
  </div>
</div>
