<div class="big-container">
<h1>hello</h1>
<p><%@data5["resources"].each do |account|%></p>
      <%= account["name"] %>
      <%= account["id"] %>
    <% end %>


<ul>
  <% @data7["resources"].each do |trans| %>
    <li>
      <%= trans["description"]%>
      <%= trans["date"]%>
      <%= trans["amount"]%>€
      <%= trans["category"]["name"]%>
    </li>
  <% end %>
</ul>

</div>


