<%= link_to "Retour", companies_path  %>

<div class="container-index-operation">

  <h1><%= @company.name %></h1>

  <div class="display-form-export">
    <div class="operation-search">
      <%= form_tag company_operations_path(@company), class: "form-index-operation",method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Rechercher"
      %>
      <%= submit_tag "Recherche", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div id="export-btn">
      <%= link_to "Export", "#" %>
    </div>
  </div>

  <h2 class="center">Transactions</h2>

  <div class="container-btn-add-ope">
      <%= link_to raw('<i class="fas fa-plus-circle"></i> Ajouter une transaction'), new_company_operation_path(@company), id: "btn-add-ope" %>
  </div>

  <table>
    <thead>
      <tr>
        <th class="th-sm"><strong>Montant</strong></th>
        <th class="th-sm">Description</th>
        <th class="th-sm">Date</th>
        <th class="th-sm">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @operations.each do |operation| %>
      <div class="link">
        <tr onclick="window.location='/operations/<%= operation.id %>';">
          <td><strong><%= operation.amount %></strong></td>
          <td id="description"><%= operation.details %></td>
          <td><%= operation.date %></td>
          <% if operation.validated == true %>
            <td><%= image_tag("checked.png") %></td>
          <% elsif operation.invoice != nil && operation.validated == false %>
            <td><%= image_tag("question.png") %></td>
          <% elsif operation.validated == false %>
            <td><%= image_tag("error.png") %></td>
          <% end %>
        </tr>
      </div>
      <% end %>
    </tbody>
  </table>

</div>

