<div class="big-container" id="top-operations">

  <div class="container-index-operations">
    <div class="container-operations-general">
    <h1><%= @company.name %></h1>
      <div class="display-form-export">
        <div class="button-export">
          <%= link_to "Exporter", "#" %>
        </div>
      </div>
      <div class="cards-operations-stats">
        <%= "A réconcilier: #{@operations.where(validated: false).count}"%>
        <%= "Total: #{@operations.count}"%>
        <%= "Dépenses: #{@expenses.sum}"%>
        <%= "Recettes: #{@gains.sum}"%>
        <%= "Net: #{@gains.sum + @expenses.sum}"%>
      </div>
      <div class="cards-company-stats-operations">
      <div class="cards-company-progression-to-do-operations d-flex">
        <div class="cards-company-progression-done-operations" style="width: <%= @company.operations.where(validated: true).count * 100 / @company.operations.count %>%" >
        </div>
      </div>
      <p><%= @company.operations.where(validated: true).count * 100 / @company.operations.count %>%</p>
    </div>
  </div>



    <div class="container-table-operations">
      <h2 class="center">Opérations</h2>
      <div class="buttons-operations-invoices">
        <div class="operation-search">
          <%= form_tag company_operations_path(@company), class: "form-index-operation",method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Opérations"
          %>
          <%= submit_tag "Recherche", class: "btn btn-primary button-recherche " %>
          <% end %>
        </div>
          <%= link_to raw('<i class="fas fa-plus-circle"></i>  Ajouter une opération'), new_company_operation_path(@company), id: "btn-add-ope"%>
      </div>
      <table>
      <thead>
        <tr>
          <th class="th-sm"><%= sortable "amount", "Montant"%></th>
          <th class="th-sm"><%= sortable "date", "Date"%></th>
          <th class="th-sm"><%= sortable "details", "Description"%></th>
          <th class="th-sm"><%= sortable "account_id", "Compte"%></th>
          <th class="th-sm"><%= sortable "validated", "Status"%></th>
        </tr>
      </thead>
      <tbody>
        <% @operations.each do |operation| %>
        <div class="link">
          <tr onclick="window.location='/companies/<%=params[:company_id]%>/operations/<%= operation.id %>';">
              <td class="table-amount-center">
                <div class="<%= operation.amount > 0 ? 'tag-amount-green' : 'tag-amount-red'%>">
                  <strong><%= operation.amount%></strong>
                </div>
              </td>
            <td><%= operation.date.strftime("%d/%m/%Y")%></td>
            <td id="description"><%= operation.details %></td>
            <td><%= operation.category %></td>
            <td><%= operation.account.account_name %></td>
            <% if operation.validated == true %>
              <td><i class="fas fa-check-circle"></i></td>
            <% elsif operation.invoice != nil && operation.validated == false %>
              <td><i class="fas fa-question-circle"></i></td>
            <% elsif operation.validated == false %>
              <td><i class="fas fa-times-circle"></i></td>
            <% end %>
          </tr>
        </div>
        <% end %>
      </tbody>
    </table>
      <div class="button-transform">
        <a href="#top-operations" class="button-top"><i class="fas fa-chevron-circle-up"></i> Retour en haut de la page</a>
      </div>
    </div>
  </div>

</div>


