<div class="big-container" id="top-operations" data-controller="display-modal">

  <div class="container-index-operations">
    <div class="container-operations-general">
    <h1><%= @company.name %></h1>
      <div id="div-operation-export">
        <div class="cards-operations-stats">
          <div class="display-stat-banner-operations">
            <div class="tag-amount-yellow-stat">
              <p class="mb-0">A réconcilier</p>
              <p class="bolder mb-0 center"><%= @operations.where(validated: false).count %></p>
            </div>
            <div class="tag-amount-violet-stat">
              <p class="mb-0">Transactions</p>
              <p class="mb-0 bolder"><%= @operations.count %></p>
            </div>
            <div class="tag-amount-red-stat">
              <p class="mb-0">Dépenses</p>
              <p class="bolder mb-0"><%= @expenses.sum %></p>
            </div>
            <div class="tag-amount-green-stat">
              <p class="mb-0">Recettes</p>
              <p class="bolder mb-0"><%= @gains.sum%></p>
            </div>
          </div>

          <%# <p><%= "Net : #{@gains.sum + @expenses.sum}"%>
        </div>
        <div class="display-form-export">

        <!-- Button trigger modal -->
        <div type="button" class="button-export" data-toggle="modal" data-target="#exampleModal">
          <p>Exporter</p>
        </div>

        </div>
      </div>
      <div class="cards-company-stats-operations">
      <div class="cards-company-progression-to-do-operations d-flex">
        <div class="cards-company-progression-done-operations" style="width: <%= @company.operations.where(validated: true).count * 100 / @company.operations.count %>%" >
        </div>
      </div>
      <p><%= @company.operations.where(validated: true).count * 100 / @company.operations.count %>%</p>
    </div>
  </div>

    <div class="container-table-operations">
      <h2 class="center">Transactions</h2>
      <div class="buttons-operations-invoices">
        <div class="operation-search">
          <%= form_tag company_operations_path(@company), class: "form-index-operation", method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Opérations"
            %>
            <%= submit_tag "Recherche", class: "btn btn-primary button-recherche " %>
          <% end %>
        </div classe="responsive-table">
          <%= link_to raw('<i class="fas fa-plus-circle"></i>  Ajouter une transaction'), new_company_operation_path(@company), id: "btn-add-ope"%>
      </div>
      <div data-controller="sorting" data-sorting-company-value="<%= @company.id %>">
        <table>
          <thead>
            <tr>

              <th class="th-sm" >
                <div class="title-header">
                  <%= sortable "amount_cents", "Montant"%>
                  <% if params[:direction] == 'asc' && params[:sort] == "amount" %>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up active arrow' id="up"></i>
                      <i class='fas fa-sort-down arrow' style = "color:grey"></i>
                    </div>
                  <%else%>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up arrow' id="up"></i>
                      <i class='fas fa-sort-down active arrow'></i>
                    </div>
                  <% end %>
                </div>
              </th>

              <th class="th-sm">
                <div class="title-header">
                  <%= sortable "date", "Date"%>
                  <% if params[:direction] == 'asc' && params[:sort] == "date" %>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up active arrow' id="up"></i>
                      <i class='fas fa-sort-down arrow' style = "color:grey"></i>
                    </div>
                  <%else%>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up arrow' id="up"></i>
                      <i class='fas fa-sort-down active arrow'></i>
                    </div>
                  <% end %>
                </div>
              </th>

              <th class="th-sm">
                <div class="title-header">
                  <%= sortable "details", "Description"%>
                  <% if params[:direction] == 'asc' && params[:sort] == "details" %>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up active arrow' id="up"></i>
                      <i class='fas fa-sort-down arrow' style = "color:grey"></i>
                    </div>
                  <%else%>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up arrow' id="up"></i>
                      <i class='fas fa-sort-down active arrow'></i>
                    </div>
                  <% end %>
                </div>
              </th>

              <th class="th-sm">
                <div class="title-header">
                  <%= sortable "category", "Catégorie"%>
                  <% if params[:direction] == 'asc' && params[:sort] == "category" %>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up active arrow' id="up"></i>
                      <i class='fas fa-sort-down arrow' style = "color:grey"></i>
                    </div>
                  <%else%>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up arrow' id="up"></i>
                      <i class='fas fa-sort-down active arrow'></i>
                    </div>
                  <% end %>
                </div>
              </th>

              <th class="th-sm">
                <div class="title-header">
                  <%= sortable "account_id", "Compte"%>
                  <% if params[:direction] == 'asc' && params[:sort] == "account_id" %>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up active arrow' id="up"></i>
                      <i class='fas fa-sort-down arrow' style = "color:grey"></i>
                    </div>
                  <%else%>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up arrow' id="up"></i>
                      <i class='fas fa-sort-down active arrow'></i>
                    </div>
                  <% end %>
                </div>
              </th>

              <th class="th-sm">
                <div class="title-header">
                  <%= sortable "validated", "Statut"%>
                  <% if params[:direction] == 'asc' && params[:sort] == "validated" %>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up active arrow' id="up"></i>
                      <i class='fas fa-sort-down arrow' style = "color:grey"></i>
                    </div>
                  <%else%>
                    <div class="arrows" data-sorting-target="arrows">
                      <i class='fas fa-sort-up arrow' id="up"></i>
                      <i class='fas fa-sort-down active arrow'></i>
                    </div>
                  <% end %>
                </div>
              </th>
            </tr>
          </thead>
          <tbody data-sorting-target="body">
            <%= render 'table_body_operations', operations: @operations %>
          </tbody>
        </table>
      </div>
      <div class="button-transform">
        <a href="#top-operations" class="button-top"><i class="fas fa-chevron-circle-up"></i> Retour en haut de la page</a>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:600px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Paramètres d'exportation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-export-style">
              <%= simple_form_for "" do |f| %>
              <div class="modal-export-params">
                <div class="modal-export-params-period">
                  <%= f.input "Du", as: :date, html5: true %>
                  <%= f.input "au", as: :date, html5: true %>
                </div>
                <div class="modal-export-params-format">
                  <%= f.input :format, collection: [ ".csv", ".xlsx", ".aze", ".pdf" ]%>
                </div>
                <div class="modal-export-params-status">
                  <%= f.input :tout, as: :boolean%>
                  <%= f.input :validé, as: :boolean%>
                  <%= f.input "à Valider", as: :boolean%>
                  <%= f.input "à Affecter", as: :boolean%>
                </div>
                <div class="modal-export-params-stats">
                  <p>Paiements réconciliés: <%= 100 - ( @operations.where(validated: false).count * 100 ) / @operations.count %>%</p>
                  <p>Validés: <%= @operations.validated.count %></p>
                  <p>A valider: <%= @operations.to_validate.count %></p>
                  <p>Manquants: <%= @operations.missing.count %></p>
                </div>
              </div>
              <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-export-modal">Annuler</button>
          <%= link_to "Exporter", pages_download_path(company: @company.id), class:"btn btn-primary modal-btn", id:"export-btn", html_safe: { data: {dismiss:"modal"}, role: "button"}  %>
        </div>
      </div>
    </div>
  </div>
</div>
