<div class="big-container">

  <div class="container-show-operations">
    <div class="container-title-show">
      <%= link_to "<", company_operations_path(@company), class:"button-return"  %>
      <h2><%= @company.name %> > <em>Transaction</em></h2>
    </div>

    <div class="container-index-operation">
      <table>
        <thead>
          <tr>
            <th class="th-sm"><strong>Montant</strong> (€)</th>
            <th class="th-sm">Description</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">Status</th>
          </tr>
        </thead>
        <tbody>
          <div class="link">
            <tr>
              <td><strong><%= @operation.amount %></strong></td>
              <td id="description"><%= @operation.details %></td>
              <td><%= @operation.date.strftime("%d/%m/%Y") %></td>
              <% if @operation.validated == true %>
                <td><i class="fas fa-check-circle"></i></td>
              <% elsif @operation.invoice != nil && @operation.validated == false %>
                <td><i class="fas fa-question-circle"></i></td>
              <% elsif @operation.validated == false %>
                <td><i class="fas fa-times-circle"></i></td>
              <% end %>
            </tr>
          </div>
        </tbody>
      </table>

      <% if @operation.validated == true %>
        <h2 style="margin-left:86px;"><em>Justificatif associé</em></h2>
        <table>
          <thead>
            <tr>
              <th class="th-sm"><strong>Montant TTC</strong> (€)</th>
              <th class="th-sm">Montant taxe (€)</th>
              <th class="th-sm">TVA (%)</th>
              <th class="th-sm">Date</th>
              <th class="th-sm">Bénéficaire</th>
              <th class="th-sm">Client</th>
              <th class="th-sm">Justificatif</th>
            </tr>
          </thead>
          <tbody data-controller="display-invoices">
            <div class="link" >
              <tr class="no-hover">
                <td><strong><%= @operation.invoice.tax_amount + @operation.invoice.net_amount %></strong></td>
                <td><%= @operation.invoice.tax_amount %></td>
                <td><%= @operation.invoice.vta %></td>
                <td><%= @operation.invoice.date.strftime("%d/%m/%Y") %></td>
                <td><%= @operation.invoice.issuer %></td>
                <td><%= @operation.invoice.client %></td>
                <td data-display-invoices-target="btndisplayone" data-action="click->display-invoices#displayRowOne" class="clickable"><i class="fas fa-plus-circle" ></i> Afficher</td>
                <td data-display-invoices-target="btnhideone" data-action="click->display-invoices#displayRowOne" class="d-none clickable" ><i class="fas fa-caret-up"></i></i> Masquer</td>
              </tr>
              <tr class="d-none no-hover" data-display-invoices-target="rowone">
                <td class="td-img" colspan = 7>
                  <% if @operation.invoice.photos.attached? %>
                    <%= cl_image_tag @operation.invoice.photos[0].key %>
                  <% else %>
                    <%= image_tag("preview_invoice.jpg", class:"invoice-preview")%>
                  <% end %>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
      <% elsif @operation.invoice != nil && @operation.validated == false %>
        <table>
          <thead>
            <tr>
              <th class="th-sm"><strong>Montant TTC</strong> (€)</th>
              <th class="th-sm">Montant taxe (€)</th>
              <th class="th-sm">TVA (%)</th>
              <th class="th-sm">Date</th>
              <th class="th-sm">Bénéficaire</th>
              <th class="th-sm">Client</th>
              <th class="th-sm">Justificatif</th>
            </tr>
          </thead>
          <tbody data-controller="display-invoices">
            <div class="link">
              <tr class="no-hover">
                <td><strong><%= @operation.invoice.total_amount %></strong></td>
                <td><%= @operation.invoice.tax_amount %></td>
                <td><%= @operation.invoice.vta %></td>
                <td><%= @operation.invoice.date.strftime("%d/%m/%Y") %></td>
                <td><%= @operation.invoice.issuer %></td>
                <td><%= @operation.invoice.client %></td>
                <td data-display-invoices-target="btndisplayone" data-action="click->display-invoices#displayRowOne" class="clickable"><i class="fas fa-plus-circle" ></i> Afficher</td>
                <td data-display-invoices-target="btnhideone" data-action="click->display-invoices#displayRowOne" class="d-none clickable" ><i class="fas fa-caret-up"></i></i> Masquer</td>
              </tr>
              <tr class="d-none no-hover" data-display-invoices-target="rowone">
                <td class="td-img" colspan = 6>
                  <% if @operation.invoice.photos.attached? %>
                    <%= cl_image_tag @operation.invoice.photos[0].key %>
                  <% else %>
                    <%= image_tag("preview_invoice.jpg", class:"invoice-preview")%>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Réconcilier", company_operation_path(params[:company_id], @operation, invoice: @operation.invoice.id), method: :patch, class: "link-reconcile" %><br>
                  <%= link_to "Voir détails", company_invoice_path(@company, @operation.invoice), class: "link-reconcile" %>
                </td>
              </tr>
              <tr class="no-hover">
                <td><strong><%= @invoices_to_display[1][0].total_amount %></strong></td>
                <td><%= @invoices_to_display[1][0].tax_amount %></td>
                <td><%= @invoices_to_display[1][0].vta %></td>
                <td><%= @invoices_to_display[1][0].date.strftime("%d/%m/%Y") %></td>
                <td><%= @invoices_to_display[1][0].issuer %></td>
                <td><%= @invoices_to_display[1][0].client %></td>
                <td data-display-invoices-target="btndisplaytwo" data-action="click->display-invoices#displayRowTwo" class="clickable"><i class="fas fa-plus-circle" ></i> Afficher</td>
                <td data-display-invoices-target="btnhidetwo" data-action="click->display-invoices#displayRowTwo" class="d-none clickable" ><i class="fas fa-caret-up"></i></i> Masquer</td>
              </tr>
              <tr class="d-none no-hover" data-display-invoices-target="rowtwo">
                <td class="td-img" colspan = 6>
                  <% if @invoices_to_display[1][0].photos.attached? %>
                    <%= cl_image_tag @invoices_to_display[1][0].photos[0].key %>
                  <% else %>
                    <%= image_tag("preview_invoice.jpg", class:"invoice-preview")%>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Réconcilier", company_operation_path(params[:company_id], @operation, invoice: @invoices_to_display[1][0].id), method: :patch, class: "link-reconcile" %><br>
                  <%= link_to "Voir détails", company_invoice_path(@company, @invoices_to_display[1][0]), class: "link-reconcile" %>
                </td>
              </tr>
              <tr class="no-hover">
                <td><strong><%= @invoices_to_display[2][0].total_amount %></strong></td>
                <td><%= @invoices_to_display[2][0].tax_amount %></td>
                <td><%= @invoices_to_display[2][0].vta %></td>
                <td><%= @invoices_to_display[2][0].date.strftime("%d/%m/%Y") %></td>
                <td><%= @invoices_to_display[2][0].issuer %></td>
                <td><%= @invoices_to_display[2][0].client %></td>
                <td data-display-invoices-target="btndisplaythree" data-action="click->display-invoices#displayRowThree" class="clickable"><i class="fas fa-plus-circle" ></i> Afficher</td>
                <td data-display-invoices-target="btnhidethree" data-action="click->display-invoices#displayRowThree" class="d-none clickable" ><i class="fas fa-caret-up"></i></i> Masquer</td>
              </tr>
              <tr class="d-none no-hover" data-display-invoices-target="rowthree">
                <td class="td-img" colspan = 6>
                  <% if @invoices_to_display[2][0].photos.attached? %>
                    <%= cl_image_tag @invoices_to_display[2][0].photos[0].key %>
                  <% else %>
                    <%= image_tag("preview_invoice.jpg", class:"invoice-preview")%>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Réconcilier", company_operation_path(params[:company_id], @operation, invoice: @invoices_to_display[2][0].id), method: :patch, class: "link-reconcile" %><br>
                  <%= link_to "Voir détails", company_invoice_path(@company, @invoices_to_display[2][0]), class: "link-reconcile" %>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
      <% elsif @operation.validated == false %>
        <table>
          <thead>
            <tr>
              <th class="th-sm"><strong>Montant TTC</strong> (€)</th>
              <th class="th-sm">Montant taxe (€)</th>
              <th class="th-sm">TVA (%)</th>
              <th class="th-sm">Date</th>
              <th class="th-sm">Bénéficaire</th>
              <th class="th-sm">Client</th>
              <th class="th-sm">Justificatif</th>
            </tr>
          </thead>
          <tbody data-controller="display-invoices">
            <div class="link">
              <tr class="no-hover">
                <td><strong><%= @invoices_to_display[0][0].total_amount %></strong></td>
                <td><%= @invoices_to_display[0][0].tax_amount %></td>
                <td><%= @invoices_to_display[0][0].vta %></td>
                <td><%= @invoices_to_display[0][0].date.strftime("%d/%m/%Y") %></td>
                <td><%= @invoices_to_display[0][0].issuer %></td>
                <td><%= @invoices_to_display[0][0].client %></td>
                <td data-display-invoices-target="btndisplayone" data-action="click->display-invoices#displayRowOne" class="clickable"><i class="fas fa-plus-circle" ></i> Afficher</td>
                <td data-display-invoices-target="btnhideone" data-action="click->display-invoices#displayRowOne" class="d-none clickable" ><i class="fas fa-caret-up"></i></i> Masquer</td>
              </tr>
              <tr class="d-none no-hover" data-display-invoices-target="rowone">
                <td class="td-img" colspan = 6>
                  <% if @invoices_to_display[0][0].photos.attached? %>
                    <%= cl_image_tag @invoices_to_display[0][0].photos[0].key %>
                  <% else %>
                    <%= image_tag("preview_invoice.jpg", class:"invoice-preview")%>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Réconcilier", company_operation_path(params[:company_id], @operation, invoice: @invoices_to_display[0][0].id), method: :patch, class: "link-reconcile" %><br>
                  <%= link_to "Voir détails", company_invoice_path(@company, @invoices_to_display[0][0]), class: "link-reconcile" %>
                </td>
              </tr>
              <tr class="no-hover">
                <td><strong><%= @invoices_to_display[1][0].total_amount %></strong></td>
                <td><%= @invoices_to_display[1][0].tax_amount %></td>
                <td><%= @invoices_to_display[1][0].vta %></td>
                <td><%= @invoices_to_display[1][0].date.strftime("%d/%m/%Y") %></td>
                <td><%= @invoices_to_display[1][0].issuer %></td>
                <td><%= @invoices_to_display[1][0].client %></td>
                <td data-display-invoices-target="btndisplaytwo" data-action="click->display-invoices#displayRowTwo" class="clickable"><i class="fas fa-plus-circle" ></i> Afficher</td>
                <td data-display-invoices-target="btnhidetwo" data-action="click->display-invoices#displayRowTwo" class="d-none clickable" ><i class="fas fa-caret-up"></i></i> Masquer</td>
              </tr>
              <tr class="d-none no-hover" data-display-invoices-target="rowtwo">
                <td class="td-img" colspan = 6>
                  <% if @invoices_to_display[1][0].photos.attached? %>
                    <%= cl_image_tag @invoices_to_display[1][0].photos[0].key %>
                  <% else %>
                    <%= image_tag("preview_invoice.jpg", class:"invoice-preview")%>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Réconcilier", company_operation_path(params[:company_id], @operation, invoice: @invoices_to_display[1][0].id), method: :patch, class: "link-reconcile" %><br>
                  <%= link_to "Voir détails", company_invoice_path(@company, @invoices_to_display[1][0]), class: "link-reconcile" %>
                </td>
              </tr>
              <tr class="no-hover">
                <td><strong><%= @invoices_to_display[2][0].total_amount %></strong></td>
                <td><%= @invoices_to_display[2][0].tax_amount %></td>
                <td><%= @invoices_to_display[2][0].vta %></td>
                <td><%= @invoices_to_display[2][0].date.strftime("%d/%m/%Y") %></td>
                <td><%= @invoices_to_display[2][0].issuer %></td>
                <td><%= @invoices_to_display[2][0].client %></td>
                <td data-display-invoices-target="btndisplaythree" data-action="click->display-invoices#displayRowThree" class="clickable"><i class="fas fa-plus-circle" ></i> Afficher</td><br>
                <td data-display-invoices-target="btnhidethree" data-action="click->display-invoices#displayRowThree" class="d-none clickable" ><i class="fas fa-caret-up"></i></i> Masquer</td>
              </tr>
              <tr class="d-none no-hover" data-display-invoices-target="rowthree">
                <td class="td-img" colspan = 6>
                  <% if @invoices_to_display[2][0].photos.attached? %>
                    <%= cl_image_tag @invoices_to_display[2][0].photos[0].key %>
                  <% else %>
                    <%= image_tag("preview_invoice.jpg", class:"invoice-preview")%>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Réconcilier", company_operation_path(params[:company_id], @operation, invoice: @invoices_to_display[2][0].id), method: :patch, class: "link-reconcile" %><br>
                  <%= link_to "Voir détails", company_invoice_path(@company, @invoices_to_display[2][0]), class: "link-reconcile" %>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
      <% end %>

      <div class="container-table-show" data-controller="display-table">
        <button data-display-table-target="buttondisplay" data-action="click->display-table#displayTable" ><i class="fas fa-plus-circle" ></i> Afficher tous les justificatifs</button>
        <button data-display-table-target="buttonhide" data-action="click->display-table#displayTable" class="d-none" ><i class="fas fa-caret-up"></i></i> Masquer les justificatifs</button>


        <table class="d-none" data-display-table-target="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Bénéficiaire</th>
              <th>Client</th>
              <th>Montant (€)</th>
              <th>Réconcilier</th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each do |invoice| %>
                <tr onclick="window.location='/companies/<%=params[:company_id]%>/invoices/<%= invoice.id %>';">
                  <td><%= invoice.date.strftime("%d/%m/%Y") %></td>
                  <td><%= invoice.issuer%></td>
                  <td> <%= invoice.client %></td>
                  <td><%= invoice.net_amount %></td>
                  <td><%= link_to "Réconcilier", company_operation_path(params[:company_id], @operation, invoice: invoice.id), method: :patch  %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
